// Animations
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.animation
    &--intro
        background: url('../images/triangles-background-rounded.png') no-repeat
        background-size: contain
        background-position: center

    &--wrapper
        width: 300px
        margin: 0 auto
        padding: 4rem 0

    &--image
        box-shadow: 1px 1px 80px -20px rgba(0,0,0,0.6)
        width: 100%
        border-radius: 20px
