// Main
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.main
    max-width: 1366px
    padding: 0 2rem
    margin: 0 auto

.intro
    display: flex
    align-items: center
    height: 100vh
    padding: 2rem 0
    
.features
.details
