// Main
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.main
    max-width: 1366px
    padding: 0 2rem
    margin: 0 auto

.intro,
.details
    display: flex
    justify-content: center
    align-items: center
    padding: 2rem 0

.features

.logo
    background: url('../images/logo.png') no-repeat
    background-size: contain
    margin: 0 auto

    &__medium
        width: 250px
        height: 70px
        margin: 0

    &__large
        width: 600px
        height: 150px
        margin-top: 6rem
